/* BEGIN GRAPH PREFERENCES STYLES */

#PreferencesContainer {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-right: 1px solid black;
  width: 25%;
}

/* END GRAPH PREFERENCES STYLES */

/* BEGIN OBJECT LIST STYLES */

#ObjectListContainer {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-right: 1px solid black;
  width: 40%;
}

#PanelTabsContainer {
  display: flex;
  align-items: center;
}

.PanelTab {
  color: white;
  text-align: left;
  padding-left: 1em;
  flex-grow: 1;
  background-color: #212121;
}

.PanelTab:hover {
  background-color: #313131;
}

.selectedTab {
  background-color: #262626;
}

/* END OBJECT LIST STYLES */

/* BEGIN JSON VIEWER STYLES */

#JSONContainer {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 35%;
  padding: .5em;
  overflow: auto; /* Now the container will show a scrollbar when the content overflows */
  max-height: 100%; /* Prevents the div from stretching vertically beyond its container */
  max-width: 100%;
}


/* END JSON VIEWER STYLES */