/* BEGIN GRAPH PREFERENCES STYLES */

#PreferencesContainer {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-right: 1px solid black;
  width: 25%;
}

/* END GRAPH PREFERENCES STYLES */

/* BEGIN OBJECT LIST STYLES */

#ObjectListContainer {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-right: 1px solid black;
  width: 40%;
}

/* END OBJECT LIST STYLES */

/* BEGIN JSON VIEWER STYLES */

#JSONContainer {
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-right: 1px solid black;
  width: 40%;
  margin-top: 0.5em;
  margin-left: 0.5em;
  overflow-y: auto;
}

/* END JSON VIEWER STYLES */

#PanelTabsContainer {
  display: flex;
  align-items: center;
}

.PanelTab {
  color: white;
  text-align: left;
  padding-left: 1em;
  flex-grow: 1;
  background-color: #212121;
}

.selectedTab {
  background-color: #262626;
}

.PanelTab:hover {
  background-color: #313131;
}