body {
  font-family: "Lucida Console", monospace;
}

#FullWidthContainer {
  width: 100vw;
  height: 100vh;
}

#ToolPanel {
  display: grid;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  grid-template-areas: 
    "visualiser editor"
    "infopanel editor";
  background-color: #1e1e1e;
}

#VisualiserContainer {
  grid-area: visualiser;
  background-color: #212121;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#InfoPanelContainer {
  grid-area: infopanel;
  background-color: #212121;
  display: flex;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

#EditorContainer {
  grid-area: editor;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

.PanelHeader {
  display: flex;
  align-items: center;
  max-width: 50%;
  max-height: 10%;
  background-color: #262626;
  color: white;
  font-size: large;
  font-weight: 400;
  padding: 1px 5px;
  padding-left: 1ex;
}