body {
  font-family: "Lucida Console", monospace;
}

#FullWidthContainer {
  width: 100vw;
  height: 100vh;
}

#ToolPanel {
  display: grid;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  grid-template-areas: 
    "visualiser editor"
    "infopanel editor";
  background-color: #1e1e1e;
}

#VisualiserContainer {
  grid-area: visualiser;
  background-color: #191919;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#InfoPanelContainer {
  grid-area: infopanel;
  background-color: #262626;
  display: flex;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

#EditorContainer {
  grid-area: editor;
  background-color: #191919;
  display: flex;
}

#PanelTabsContainer {
  display: flex;
  align-items: center;
}

.PanelTab {
  color: white;
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 1em;
  flex-grow: 1;
  height: 100%;
  background-color: #191919;
}

.selectedTab {
  background-color: #262626;
}

.halfTab {
  max-width: 50%;
}

.PanelTab:hover {
  background-color: #313131;
}