#FullWidthContainer {
  width: 100vw;
  height: 100vh;
}

#ToolPanel {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  grid-template-areas: 
    "visualiser editor"
    "viewer editor";
  background-color: #1e1e1e;
}

#VisualiserContainer {
  grid-area: visualiser;
  border-right: 1px solid #0d0d0d;
  border-bottom: 1px solid #0d0d0d;
  background-color: #262626;
}

#ViewerContainer {
  grid-area: viewer;
  border-right: 1px solid #0d0d0d;
  background-color: #262626;
}

#EditorContainer {
  grid-area: editor;
  background-color: #262626;
}
